<h1>Add a burger!</h1>

<h2>What burger sounds good to eat?</h2>

<ul>
	{{#each burgers}}
		{{#unless devoured}}
			<p>
				{{id}} {{burger_name}}
				<button class="eat" data-id="{{id}}">EAT!</button>
			</p>
		{{/unless}}
	{{/each}}
</ul>

<h2>Burgers that are eaten</h2>

<ul>
	{{#each burger}}
		{{#if devoured}}
		{{id}}	{{burger_name}}
		{{/if}}
	{{/each}}
</ul>

<form action="/" method="POST" class="add-burger">
	<label for="burger-text">Burger: </label>
	<textarea type="text" id="burger-text" name="name" placeholder="Handlebars Burger"></textarea>

	<button type="submit">Add your Burger</button>
</form>