<header>
	<h1>Welcome to Good Burger, Home of the Good Burger</h1>
</header>

{{!-- Add Burgers Section --}}
<h2>Add a burger!</h2>

<div class="row">
	<div class="col">
		<form class="form-group">
			<input class="burger-name" type="text" name="add-burger" placeholder="Add a burger">
			<button class="add-burger btn" type="submit">Add a burger to the menu</button>
		</form>
	</div>
</div>

{{!-- View Burgers Section --}}
<div class="available-burgers col">
	{{#each burgers}}
	{{#unless devoured}}
	<p>
		{{id}} {{burger_name}}
		<button class="eat-burger" data-id="{{id}}">EAT!</button>
	</p>
	{{/unless}}
	{{/each}}
</div>

{{!-- Eaten Burgers Section --}}
<div class="eaten-burgers col">

	<h2>Burgers that have been eaten</h2>

	{{#each burgers}}
	{{#if devoured}}
	{{id}} {{burger_name}}
	{{/if}}
	{{/each}}
</div>